form(action='filter')
    input(type="number" placeholder='Filter by Year' name='year' )
    input(type="number" placeholder='Filter by Ratings' name='rating' )
    input(type="submit" value="Search")